---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="Welcome to Astro.">
  <main class="px-40 py-8 min-h-screen relative bg-main bg-cover bg-no-repeat">
    <!-- <div class="bg-gradient-to-b from-black to-black absolute inset-full"></div> -->
		<Header />
  </main>
</Layout>

<style></style>
