---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Button from "../components/Button.astro";
import Icon from "../components/Icon.astro";
import PlaceCard from "../components/PlaceCard.astro";
---

<Layout title="Welcome to Astro.">
  <main class="min-h-screen relative bg-main bg-auto bg-top md:bg-contain bg-no-repeat">
    <section
      class="h-full w-full px-6 py-5 flex flex-col items-center bg-gradient-to-t from-black to-100% md:items-start md:px-40 md:py-8 md:to-60%"
    >
      <Header />
      <h2 class="text-2xl font-semibold mt-32 text-center md:text-left">Welcome To Travel</h2>
      <h1 class="text-7xl font-semibold mt-2 mb-4 text-center md:text-left">Explore<br />The World</h1>
      <p class="text-base text-center md:text-left">
        Live the trips exploring the world, discover paradises,<br class="hidden md:block" />
         islands, mountains and much more, get your trip now.
      </p>
      <Button class="mt-10 mb-16">
        Start Your Journey <Icon icon="right-arrow" slot="right-icon" />
      </Button>
      <section class="flex flex-col items-center gap-y-6 md:flex-row md:items-start md:gap-x-6 w-full">
        <PlaceCard name="Croatia" path="home-trees" />
        <PlaceCard name="Iceland" path="home-lake" />
        <PlaceCard name="Italy" path="home-mountain" />
        <PlaceCard name="Spain" path="home-beach" />
      </section>
    </section>
    <section class="min-h-screen"></section>
  </main>
</Layout>

<style></style>
