---
import FacebookIcon from "../icons/FacebookIcon.astro";
import TwitterIcon from "../icons/TwitterIcon.astro";
import YoutubeIcon from "../icons/YoutubeIcon.astro";
import InstagramIcon from "../icons/InstagramIcon.astro";
import FooterLinkList from "./FooterLinkList.astro";
const siteMap = [
  {
    name: "About",
    links: [
      { text: "About Us", path: "/about-us" },
      { text: "Features", path: "/features" },
      { text: "News & Blog", path: "/news-and-blog" },
    ],
  },
  {
    name: "Company",
    links: [
      { text: "FAQs", path: "/faq" },
      { text: "History", path: "/history" },
      { text: "Testimonials", path: "/testimonials" },
    ],
  },
  {
    name: "Contact",
    links: [
      { text: "Call Center", path: "/call-center" },
      { text: "Support Center", path: "/support-center" },
      { text: "Contact Us", path: "/contact-us" },
    ],
  },
  {
    name: "Support",
    links: [
      { text: "Privacy Policy", path: "/privacy-policy" },
      { text: "Terms & Services", path: "/terms-and-services" },
      { text: "Payments", path: "/payments" },
    ],
  },
];
---

<footer class="bg-container px-6 py-8 md:pt-16 md:pb-14 md:px-16 lg:px-40">
  <div class="md:flex md:justify-between">
    <div>
      <h3 class="text-xl font-semibold mb-4">Travel</h3>
      <p class="text-base text-body mb-14">
        Travel with us and explore <br />the world without limits.
      </p>
    </div>
    <div
      class="grid grid-cols-2 grid-rows-2 gap-y-10 md:grid-cols-4 md:grid-rows-1 md:gap-y-0 md:gap-x-14 lg:gap-x-[72px]"
    >
      {
        siteMap.map((item) => (
          <FooterLinkList name={item.name} links={item.links} />
        ))
      }
    </div>
  </div>
  <div class="md:flex md:justify-between md:items-end">
    <div class="flex gap-x-6 justify-center mt-28 mb-8 md:order-2 md:mb-0">
      <a href="#" title="Facebook"><FacebookIcon /></a>
      <a href="#" title="Instagram"><InstagramIcon /></a>
      <a href="#" title="Twitter"><TwitterIcon /></a>
      <a href="#" title="Youtube"><YoutubeIcon /></a>
    </div>
    <p class="text-center text-base text-body md:text-left">
      &copy; Copyright Bedimcode. All rights reserved
    </p>
  </div>
</footer>
